<div id="<%= dom_id employee %>">
  <p>
    <strong>First name:</strong>
    <%= employee.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= employee.last_name %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= employee.birthdate %>
  </p>

  <p>
    <strong>Is active:</strong>
    <%= employee.is_active %>
  </p>

  <p>
    <strong>Is manager:</strong>
    <%= employee.is_manager %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= employee.department_id %>
  </p>

</div>
