<div id="<%= dom_id employee %>">
  <h2><%= employee.first_name %> <%= employee.last_name %></h2>

  <p>
    <strong>
    <%= employee.department.name %>
    </strong>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= employee.birthdate&.strftime('%D') %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= employee.is_active %> 
    <strong>Manager:</strong>
    <%= employee.is_manager %>
  </p>
</div>
